a {
    text-decoration: none;
}

main {
    margin-top: 70px;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #023047;
}

.nav-group {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
}

.nav-items {
    color: #ffb703;
}

.nav-items:hover {
    color: #fb8500;
}

/* homepage */
#home {
    height: 130vh;
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

/* registration */
#registration {
    height: 130vh;
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

/* footer */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #8ecae6;
    color: #fff;
}

footer p {
    margin: 0;
    padding: 0 10px 0 0;
}